{% extends "layout.html" %}

{% block title %}
    Mileage Calculation
{% endblock %}

{% block main %}

    <main class="container p-5">

        {{ airportstring }}
        <br>
        {{ airlinestring }}


        <br>&nbsp
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Program Name</th>

                    {% for airline in thetable %}
                        <th>{{ airline['airline'] }}</th>
                    {% endfor %}
                </tr>
            </thead>


            <tbody>
                {% for program in thetable[0]['mileage'] %}
                <tr>
                    <td>{{ program['programname'] }}</td>

                    {% for airline in thetable %}
                        {% for mileagedict in airline['mileage'] %}
                            {% if mileagedict['programname'] == program['programname'] %}
                            <td>{{ mileagedict['miles'] }}</td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <i>Note: It is normal for most values to be n/a</i>
    </main>

{% endblock %}
